.main-menu{
    background:#e0601b !important;
}
.add-new-shipment{
    .btn-new{
        background:#e0601b !important;
    }
}
.filter-head{
    h2{
        color:#e0601b !important;
    }
}
.shipment-status-list{
    h2{
        background:url('../images/eq-type-icon-orange.png') no-repeat 0 0 !important;
    }
}
.shipment-status{
    h2{
        background:url('../images/eq-type-icon-orange.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .eq-type{
        h2{
            background:url('../images/eq-type-icon-orange.png') no-repeat 0 0 !important;
        }
    }
}
.customer-info{
    h2{
        background:url('../images/customer-icon-orange.png') no-repeat 0 0 !important;
    }
}
.pricing{
    h2{
        background:url('../images/pricing-icon-orange.png') no-repeat 0 0 !important;
    }
}
.edi-block{
    h2{
        background:url('../images/edi-icon-orange.png') no-repeat 0 0 !important;
    }
}
.date-select{
    h2{
        background:url('../images/date-icon-orange.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .service-area{
        h2{
            background:url('../images/service-area-icon-orange.png') no-repeat 0 0 !important;
        }
    }
}
.pricing{
    h2.transit{
        background:url('../images/transit-icon-orange.png') no-repeat 0 0 !important;
    }
}
.leftnavbar-wrapper{
    .receivable{
        h2{
            background:url('../images/receivable-icon-orange.png') no-repeat 0 0 !important;
        }
    }
}
.add-new-shipment{
    .input-group-btn{
        .btn-default{
            background:#e0601b !important;
        }
    }
}
.filter-block{
    h3{
        color:#e0601b !important;
    }
}
.showArchieved{
    background:#e0601b !important;
}
.resp-tabs-list{
    background:#e0601b !important;
    li.resp-tab-item{
        color:#fff !important;
    }
    li.resp-tab-active{
        color:#e0601b !important;
    }
}
.sky-blue{
    color:#e0601b !important;
}
.panel-primary > .panel-heading{
    background-color:#e0601b !important;
    border-color:#e0601b !important;
}
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus{
    background-color:#e0601b !important;
    border-color:#e0601b !important;
}
.check_calls_textarea{
    button{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.inputuploadhld{
    button{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.btn-cont{
    .btn-primary{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.lancecount_table{
    td{
        button{
            background:linear-gradient(#eb8047, #e0601b) !important;
            border-color:#e0601b !important;
            &:hover{
                background:linear-gradient(#e0601b, #eb8047) !important;
            }
        }
    }
}
.expiring_contracts{
    .dropdown{
        button{
            background:linear-gradient(#eb8047, #e0601b) !important;
            border-color:#e0601b !important;
            &:hover{
                background:linear-gradient(#e0601b, #eb8047) !important;
            }
        }
    }
}
.contract_buttons{
    .download_excel{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.contract_table{
    .upload_rate{
        button{
            background:linear-gradient(#eb8047, #e0601b) !important;
            border-color:#e0601b !important;
            &:hover{
                background:linear-gradient(#e0601b, #eb8047) !important;
            }
        }
    }
}
.leftnavbar-wrapper{
    .input-group-btn{
        .btn-default{
            background:#e0601b !important;
        }
    }
}
.contract_table{
    .file_upload{
        button{
            background:linear-gradient(#eb8047, #e0601b) !important;
            border-color:#e0601b !important;
            &:hover{
                background:linear-gradient(#e0601b, #eb8047) !important;
            }
        }
    }
}
.load_entry_top{
    .mid_row{
        .mid_row_inner{
            .input-group-btn{
                .btn-default{
                    background:#e0601b !important;
                }
            }
        }
    }
}
.load_entry_mid{
    .mid_box{
        .mid_box_head{
            button{
                background:linear-gradient(#eb8047, #e0601b) !important;
                border-color:#e0601b !important;
                &:hover{
                    background:linear-gradient(#e0601b, #eb8047) !important;
                }
            }
        }
    }
}
.load_entry_mid{
    .mid_box{
        .mid_box_body{
            .input-group-btn{
                .btn-default{
                    background:#e0601b !important;
                }
            }
        }
    }
}
.rate_test{
    .table-responsive{
        table{
            td{
                .download_excel{
                    background:linear-gradient(#eb8047, #e0601b) !important;
                    border-color:#e0601b !important;
                    &:hover{
                        background:linear-gradient(#e0601b, #eb8047) !important;
                    }
                }
            }
        }
    }
}
.receivable_top{
    .btn-primary{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.scan_check{
    .btn-primary{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.reg_steps{
    li.active{
        span{
            background-color:#e0601b !important;
        }
    }
}
.connect_buttons{
    .btn-primary{
        background:linear-gradient(#eb8047, #e0601b) !important;
        border-color:#e0601b !important;
        &:hover{
            background:linear-gradient(#e0601b, #eb8047) !important;
        }
    }
}
.setup_connectivity{
    .connectivity_box{
        .connection_status{
            .btn-primary{
                background:linear-gradient(#eb8047, #e0601b) !important;
                border-color:#e0601b !important;
                &:hover{
                    background:linear-gradient(#e0601b, #eb8047) !important;
                }
            }
        }
    }
}
.menu-search{
    .input-group-btn{
        .btn-default{
            background:#973500 !important;
            border-color:#973500 !important;
        }
    }
}
.slide-range{
    .irs-bar{
        background:#e0601b !important;
        border-color:#e0601b !important;
    }
}
.career-table{
    td{
        button{
            background:linear-gradient(#eb8047, #e0601b) !important;
            border-color:#e0601b !important;
            &:hover{
                background:linear-gradient(#e0601b, #eb8047) !important;
            }
        }
    }
}
.panel-primary{
    border-color:#e0601b !important;
}
.tab-hld{
    border-color:#e0601b !important;
}
.carrier-tab{
    .row{
        .form-group{
            button{
                background:linear-gradient(#eb8047, #e0601b) !important;
                border-color:#e0601b !important;
                &:hover{
                    background:linear-gradient(#e0601b, #eb8047) !important;
                }
            }
        }
    }
}
                    

